/* HTML5 ✰ Boilerplate */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:11px/1.231 "Trebuchet MS",Arial,sans-serif; *font-size:small; }
select, input, textarea, button { font:99% "Trebuchet MS",Arial,sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a { text-decoration: none; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea { color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }


/**
 * Primary styles
 *
 * Author: Vaibhav Bhembre
 */
html {
/*background: #8dbae2 url('../img/bg_pattern.png');*/
}
body {
	background: #ECECEC url('../img/bg_pattern.png')
}	

noscript {
	z-index: 100;
	background-color: #f00;
	color: #fff;
	height: 30px;
	position: fixed;
	left: 0px; top: 0px;
	width: 100%;
	font: 1.3em Lucida Grande, Helvetica, Arial, sans-serif;
	text-align: center;
	padding-top: 10px;
}

#container {
	min-width: 900px;
}

#page-top {
	position: fixed;
	background: transparent url('../img/top-border-pattern.png') repeat-x left top;
	height: 60px;
	width: 100%;
	z-index: 100;
	top: 0px;
	-moz-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out;
}

#page-top img {
	position: relative;
	left: 10px;
	top: 5px;
}
header {
    background: url("../img/gisa-logo.png") no-repeat scroll -5px 7px / 253px 140px #013269;
    border-top: 3px solid #013269;
    height: 149px;
  /*  margin-left: 25px;*/
    margin-top: 30px;
}
header #txtsearch {
	top: 26px;
	left: -20px;
	position: relative;
	float: right;
}
header .gsc-search-box {
	float: right;
	position: relative;
	top: 30px;
	left: -10px;
	text-indent: 10px;
}

header .gsc-input {
	color: #013269;
	height: 25px;
	width: 180px;
	font: 1.0em Lucida Grande, Helvetica, Arial, sans-serif;
	border-radius: 20px;
	outline: none;
	background: #8dbae2 url('../img/bg_pattern.png') !important;
	-moz-box-shadow:inset 0 0 10px #000000;
	-webkit-box-shadow:inset 0 0 10px #000000;
	box-shadow:inset 0 0 10px #000000;
}

header .gsc-search-button, header .gsc-clear-button {
	display: none;
}
/* -- top navigation start -- */
#topNav{
	width:683px; margin:0 auto; height:37px;}
#topNav ul{
	width:540px; margin:0 auto;}
#topNav ul li{
	height:37px; float:left;
	background:url(../img/bg.gif) repeat-x 0 0 #292929; color:#C1C1C1;
	font:bold 12px/37px Arial, Helvetica, sans-serif;}
#topNav ul li a{
	padding:0 18px; height:37px; float:left; text-decoration:none; display:block;
	background:url(../img/bg.gif) repeat-x 0 0 #292929; color:#C1C1C1;
	font:bold 12px/37px Arial, Helvetica, sans-serif;}
#topNav ul li a:hover{
	background:url(../img/top_btn_h.gif) no-repeat center bottom;}
#topNav ul li a.hover{
	padding:0 18px; height:37px; float:left; text-decoration:none; display:block;
	background:url(../img/top_btn_h.gif) no-repeat center bottom; color:#C1C1C1;
	font:bold 12px/37px Arial, Helvetica, sans-serif;}
/* -- top navigation start -- */

/*--------MENU NAVIGATION STARTS-------------*/
header #menu-navigation {
    background-color: #5D5D5D;
    clear: both;
    height: 38px;
    margin-left: 249px;
    position: relative;
    top: 111px;
    width: 81%;
}

header #menu-navigation ul {
	position: relative;
	margin: 0 auto;
	/*width: 1100px;*/
	top: 0px;
}

header #menu-navigation ul li {
	font: 1.3em Lucida Grande, Helvetica, Arial, sans-serif;
	 background-color:#5D5D5D;
	/*background:url(../img/bg.gif) repeat-x 0 0 #292929; color:#C1C1C1;*/
	list-style-type: none;
}

header #menu-navigation ul li a {
    /*background-color: #FFFFFF;*/
    border-left: 1px solid #FFFFFF;
    /*border-right: 1px solid #FFFFFF;
	 border-top: 1px solid #FFFFFF;*/
    float: left;
  padding: 10px 37px;
	color: #FFFFFF;
}

header #menu-navigation ul li a:hover{
	color: #F79537;
	/*background: url('../img/menu-bg.png') repeat-x 0px -2px;*/
	background-color:#EEEEEE;
	background:url(../img/top_btn_h.gif) no-repeat center bottom;}
	border-left: 1px solid #0460b3;
	border-right: 1px solid #0460b3;
}	


header #menu-navigation ul li .highlight{
	color: #fff;
	background: #e79a08 url('../img/menu-bg.png') repeat-x 0px -2px;
	border-left: 1px solid #0460b3;
	border-right: 1px solid #0460b3;
}
/*----------------MENUNAVIGATION ENDS----------------*/



/* -- top navigation start -- */
#topNav{
	width:683px; margin:0 auto; height:37px;}
#topNav ul{
	width:540px; margin:0 auto;}
#topNav ul li{
	height:37px; float:left;
	background:url(images/bg.gif) repeat-x 0 0 #292929; color:#C1C1C1;
	font:bold 12px/37px Arial, Helvetica, sans-serif;}
#topNav ul li a{
	padding:0 18px; height:37px; float:left; text-decoration:none; display:block;
	background:url(images/bg.gif) repeat-x 0 0 #292929; color:#C1C1C1;
	font:bold 12px/37px Arial, Helvetica, sans-serif;}
#topNav ul li a:hover{
	background:url(images/top_btn_h.gif) no-repeat center bottom;}
#topNav ul li a.hover{
	padding:0 18px; height:37px; float:left; text-decoration:none; display:block;
	background:url(images/top_btn_h.gif) no-repeat center bottom; color:#C1C1C1;
	font:bold 12px/37px Arial, Helvetica, sans-serif;}
/* -- top navigation start -- */

#main a {
	color: #b9200c;
	font-weight: bold;
}

#main a:hover {
	color: #0b8d11;
}

#main {
	min-width: 800px;
	margin: 0 auto;
}

#main #page-content h3{
		margin-top: 10px;
		font: 1.4em bold Arial, sans-serif;
		text-decoration: underline;
}

#index-content 
{
	float: left;
	margin: 50px 30px;
	margin-right: 10px;
	padding: 50px;
	padding-top: 20px;
	/*color: #013269;*/
	font: 1.2em "Trebuchet MS",Arial,sans-serif;
	width: 50%;
	min-width: 200px;
	background-color: rgba(255,255,255,0.6);
	border: 1px solid #D5D7D6;
}
#main #index-content  p {
	margin-top: 20px;
	line-height: 140%;
}
#main #page-content {
	float: left;
	/*margin: 50px 30px;
	margin-right: 10px;*/
	margin: 4% 5% 5%;
	padding: 50px;
	padding-top: 20px;
	/*color: #013269;*/
	font: 1.2em "Trebuchet MS",Arial,sans-serif;
	width: 80%;
	min-width: 200px;
	background-color: rgba(255,255,255,0.6);
	border: 1px solid #D5D7D6;
	/*height: 800px;*/
	
	/*border-radius: 20px; /*-moz-border-radius: 20px; -webkit-border-radius: 20px;*/
}

#main #page-content p {
	margin-top: 20px;
	line-height: 140%;
}

#main #page-content p.question {
	font-weight: bold;
}

#main #page-content p.red {
	color: #000;
}

#main #page-content p.center {
	text-align: center;
}

#main #page-content p.big {
	font: 1.3em "Trebuchet MS",Arial,sans-serif;
}

#main #page-content p.button {
	border: 1px solid #0460b3;
	padding: 20px 0px;
	border-radius: 60px; -moz-border-radius: 60px; -webkit-border-radius: 60px;
}

#main #page-content .button {
	background-color: #eee;
	-moz-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out;
}

#main #page-content .button:hover{
	background-color: #0460b3;
	color: #fff;
}

#main #page-content #link-holder {
	margin-top: 20px;
}

#main #page-content.gallery {
}

#main #page-content div.span-6 {
	float: left;
	width: 230px;
	margin-right: 80px;
}

#main #page-content h1.fourohfour {
	font: 1.8em bold "Trebuchet MS",Arial,sans-serif;
	text-align: center;
	color: red;
}

#main #page-content table {
	margin-top: 20px;
}

#main #page-content table tr.alt{
	background-color: #afd2f2;
}


#main #page-content table tr.head{
	background-color: #0460b3;
	color: #fff;
	font-weight: bold;
}

#main #page-content table th, #main #page-content table td{
	border: 1px solid #0460b3;
	text-align: center;
	padding: 10px;
}

#main #page-content table th.left {
	border-right: 1px solid #fff;	
}

#main #sidebar h3{
	margin-top: 10px;
	font: 1.4em bold "Trebuchet MS",Arial,sans-serif;
	text-decoration: underline;
}

#main #sidebar p {
	margin-bottom: 10px;
}

#main #sidebar {
	float: left;
	width: 330px;
	
	margin: 50px 20px;
	padding: 20px 10px;
	color: #013269;
	font: 1.1em Lucida Grande, Helvetica, Arial, sans-serif;
	background-color: rgba(255,255,255,0.6);
	border: 1px solid #D5D7D6;
}

#main #sidebar #updates-box {
	text-align: center;
}
.faq
{
	font: 1.1em "Trebuchet MS",Arial,sans-serif!important;
	text-decoration:none!important;

	}
footer {
	clear: both;
	margin-top: 50px;
	border-top: 10px solid #013269;
	height: 149px;
	background: #013269;
	color:#FFF;
	text-align: center;
}

footer #connect-box {
	margin-top: 10px;
	padding: 10px;
	font: 1.1em "Trebuchet MS",Arial,sans-serif;
	/*color: #013269;*/
}

footer #connect-box a{
	/*color: #013269;*/
}

footer #connect-box a:hover{
	color: #f79537;
}

footer #connect-box .facebook{
	background: transparent url('../img/facebook-icon.png') no-repeat 0px 1px;
	padding: 5px 30px;
	padding-right: 10px;
}

footer #connect-box .twitter{
	background: transparent url('../img/twitter-icon.png') no-repeat 0px 1px;
	padding: 5px 30px;
	padding-right: 10px;
}


footer #connect-box .linkedin{
	background: transparent url('../img/linkedin-icon.png') no-repeat 0px 1px;
	padding: 5px 30px;
	padding-right: 5px;
}



footer #connect-box .yahoo{
	background: transparent url('../img/yahoo-icon.png') no-repeat 0px 1px;
	padding: 5px 30px;
	padding-right: 10px;
}
footer p
{
	color:#FFF;
	}
footer #signature {
	font: 0.9em sans-serif;
	margin-bottom: 0;
}
footer #signature a:hover {
color: #F79537;
}


footer #webmaster-box {
	margin-top: 5px;
	padding: 5px;
	font: 1.1em "Trebuchet MS",Arial,sans-serif;
	color: #013269;
}

footer #webmaster-box a{
	color: #fff;
}

footer #webmaster-box a:hover{
	color: #F79537;
}

footer #link-box {
	margin-top: 15px;
}
footer #link-box a:hover{
	color: #F79537;
}







.underline { text-decoration: underline; }
.italic { font-style: italic; }
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

